[Unit]
Description=PlutoOS ETC Overlay
Requires=home.mount
After=home.mount

[Mount]
Where=/etc
What=overlay
Type=overlay
Options=lowerdir=/etc,upperdir=/home/.etcOverlay/upper,workdir=/home/.etcOverlay/work,index=off

[Install]
WantedBy=local-fs.target
