[Unit]
Description=PlutoOS VAR overlay
Requires=home.mount
After=home.mount

[Mount]
Where=/var
What=overlay
Type=overlay
Options=lowerdir=/var,upperdir=/home/.varOverlay/upper,workdir=/home/.varOverlay/work

[Install]
WantedBy=local-fs.target
