
# make grub invisible to user by default, and give them 1 sec to press
# the esc key to interrupt boot seq
# GRUB_HIDDEN_TIMEOUT=1
# GRUB_TIMEOUT=0

set timeout_style=hidden
set timeout=5


insmod gzio
insmod part_gpt
insmod fat

# efi only, useful stuff?
insmod bli


default=0

# setup vars to be overwritten by load_env
any_ok=0

set ORDER="A B"
set A_OK=0
set B_OK=0
set A_TRY=0
set B_TRY=0
load_env

for SLOT in $ORDER; do
    if [ "$SLOT" == "A" ]; then
        INDEX=0
        OK=$A_OK
        TRY=$A_TRY
        A_TRY=1
    fi
    if [ "$SLOT" == "B" ]; then
        INDEX=1
        OK=$B_OK
        TRY=$B_TRY
        B_TRY=1
    fi
    if [ "$OK" -eq 1 -a "$TRY" -eq 0 ]; then
        default=$INDEX
        any_ok=1
        break
    fi
done

function load_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

# reset booted flags in case both sides have failed to boot
if [ "$any_ok" -eq 0 ]; then
    if [ "$A_OK" -eq 1 -a "$A_TRY" -eq 1 ]; then
        A_TRY=0
    fi
    if [ "$B_OK" -eq 1 -a "$B_TRY" -eq 1 ]; then
        B_TRY=0
    fi
fi

save_env A_TRY B_TRY



PLUTO_CMDLINE="ro loglevel=3 nvidia_modeset=1 splash vt.global_cursor_default=0 mem_sleep_default=deep panic=60 sysrq_always_enabled=1 'acpi_osi=!Windows 2020' quiet plymouth.ignore-serial-consoles"

menuentry "PlutoOS Slot A (OK=$A_OK TRY=$A_TRY)" {
    load_video
    set gfxpayload=keep

    search --no-floppy --label --set=root EFIA
    linux /vmlinuz-linux root=LABEL=ROOTA $PLUTO_CMDLINE rauc.slot=A
    initrd /amd-ucode.img /intel-ucode.img /initramfs-linux.img
}

menuentry "PlutoOS Slot B (OK=$B_OK TRY=$B_TRY)" {
    load_video
    set gfxpayload=keep

    search --no-floppy --label --set=root EFIB
    linux /vmlinuz-linux root=LABEL=ROOTB $PLUTO_CMDLINE rauc.slot=B
    initrd /amd-ucode.img /intel-ucode.img /initramfs-linux.img
}

fwsetup --is-supported
if [ "$?" = 0 ]; then
    menuentry 'UEFI Firmware Settings' $menuentry_id_option 'uefi-firmware' {
        fwsetup
    }
fi
