
# make grub invisible to user by default, and give them 1 sec to press
# the esc key to interrupt boot seq
GRUB_HIDDEN_TIMEOUT=1
GRUB_TIMEOUT=0

set GRUB_HIDDEN_TIMEOUT=1
set GRUB_TIMEOUT=0

insmod gzio
insmod part_gpt
insmod fat
insmod ext4

# efi only, useful stuff?
insmod bli

load_env

function load_video {
  if [ x$feature_all_video_module = xy ]; then
    insmod all_video
  else
    insmod efi_gop
    insmod efi_uga
    insmod ieee1275_fb
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
  fi
}

PLUTO_CMDLINE = "ro loglevel=3 nvidia_modeset=1 splash vt.global_cursor_default=0 mem_sleep_default=deep panic=60 sysrq_always_enabled=1 'acpi_osi=!Windows 2020'"

menuentry "PlutoOS Slot A (TRY=$A_TRY)" {
    load_video
    set gfxpayload=keep

    search --no-floppy --label --set=root EFIA
    linux /vmlinuz-linux root=LABEL=ROOTA $PLUTO_CMDLINE rauc.slot=A
    initrd /amd-ucode.img /intel-ucode.img /initramfs-linux.img
}

menuentry "PlutoOS Slot B (TRY=$B_TRY)" {
    load_video
    set gfxpayload=keep

    search --no-floppy --label --set=root EFIB
    linux /vmlinuz-linux root=LABEL=ROOTB $PLUTO_CMDLINE rauc.slot=B
    initrd /amd-ucode.img /intel-ucode.img /initramfs-linux.img
}

fwsetup --is-supported
if [ "$?" = 0 ]; then
    menuentry 'UEFI Firmware Settings' $menuentry_id_option 'uefi-firmware' {
        fwsetup
    }
fi
